<div>
    <% newCustomers.forEach(function(Customer) { %>
      <form method="post">
            <table>
                <tr>
                  <th>Customer ID</th>
                  <th>Customer First Name</th>
                  <th>Customer Last Name</th>
                  <th>Customer Mobile</th>
                  <th>Customer Email</th>
                </tr>
                <tr>
                  <td><%= Customer.Customer_ID %></td>
                  <td><%= Customer.Customer_First_Name %></td>
                  <td><%= Customer.Customer_Last_Name %></td>
                  <td><%= Customer.Customer_Mobile %></td>
                  <td><%= Customer.Customer_Email %></td>
                </tr>
              </table>
      </form>
      <% }); %>
</div>